.display-none{
	display: none !important;
}

.dark-light{
	background-color: #EFEBE7 !important;
}

.rts-about-company-area {
	background-image: none !important;
}

.dark-theme-title-color{
	color: #141416 !important;
}

.dark-theme-body-color{
	color: #686868 !important;
}

.bg_banner-one::after {
	background: rgb(248, 249, 250, 0.9) !important;
}

  .banner-swiper-area-one {
    margin-right: unset !important;
    margin-left: unset !important;
  }
.single-fun-facts-area {
  position: unset !important;
}
.heder-one {
	margin-right: unset !important;
	margin-left: unset !important;
	margin-top: unset !important;
  border-radius: unset !important;
}

.align-items-center-desktop{
	display: flex;
  flex-direction: column;
  align-items: center;
}
.center-content-desktop{
	text-align: center;
}
@media only screen and (max-width: 575px) {
	.body-history .thumbnail{
		display: none !important;
	}
	.hide-on-mobile{
		display: none !important;
	}

	.light-bg-mobile{
		background-color: #fff !important;
	}

	.mg-top-5{
		margin-top: 5px;
	}

	.single-history-area .body-history .icon {
		margin-top: unset;
	}
}
